<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhotoOrganizer">

        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.PhotoOrganizer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ChallengeActivity"
            android:exported="false"
            android:label="@string/title_challenge" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_date_organize" />

        <activity
            android:name=".DetailActivity"
            android:exported="false"
            android:label="@string/title_detail" />

        <activity
            android:name=".PhotoViewerActivity"
            android:exported="false"
            android:theme="@style/Theme.PhotoOrganizer.Viewer" />

        <activity
            android:name=".LocationDetailActivity"
            android:exported="false" />

        <activity
            android:name=".YearDetailActivity"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_settings" />

        <activity
            android:name=".TrashActivity"
            android:exported="false"
            android:label="@string/title_trash" />

    </application>

</manifest>
